$base-font-color: #FFF;

body {
  background-image: url(/images/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: $base-font-color;

  @media only screen and (max-width: 767px) {
    background-image: url(/images/background-photo-mobile-devices.jpg);
  }
}

h1, h2, h3, h4, legend, label {
  color: $base-font-color;
}

fieldset {
  background-color: rgba(0, 0, 0, 0.6);
}

fieldset legend {
  background-color: transparent;
}

#app-wrapper {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 80px;
  position: relative;
  margin: auto 0.5em;
}

.main-container {
  hr {
    border-color: #3D3D3D;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    position: relative;
  }
}
